<div class="container text-center">
    <h2 class="display-4 mb-4">¿Por qué contactarnos?</h2>
    <p class="lead mb-5">Estamos aquí para ayudarte con cualquier consulta, duda o sugerencia que tengas. Si necesitas
        más información, asesoramiento o simplemente deseas ponerte en contacto, no dudes en escribirnos.</p>

    <div class="mb-5">
        <h3 class="text-primary">Escríbenos a nuestro correo</h3>
        <p class="text-muted">Estamos disponibles para responder a todas tus preguntas lo antes posible. ¡Tu mensaje es
            importante para nosotros!</p>
        <p><strong>Correo Electrónico:</strong> MarketingTuristico&#64;mail.com</p>
    </div>

</div>